{% extends 'base.html.twig' %}

{% block title %}Hello PotController!{% endblock %}
{% block header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('pots') }}">My Plant's</a></li>
            <li class="breadcrumb-item active" aria-current="page">Settings: {{ Pot.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="card shadow plant-background plant-background-1">
        <div class="card-body card-plant-body">
            <h2>
                Pot settings
            </h2>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ asset('assets/vendor/jquery-ui-1.12.1/jquery-ui.js') }}"></script>
    <script src="{{ asset('assets/js/autocomplete.js') }}"></script>
{% endblock %}