{% extends 'base.html.twig' %}

{% block title %}Pot index{% endblock %}

{% block body %}
    <h1>Pot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uuid</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pot in pots %}
            <tr>
                <td>{{ pot.id }}</td>
                <td>{{ pot.uuid }}</td>
                <td>{{ pot.roles ? pot.roles|json_encode : '' }}</td>
                <td>{{ pot.password }}</td>
                <td>{{ pot.Name }}</td>
                <td>
                    <a href="{{ path('pot_show', {'id': pot.id}) }}">show</a>
                    <a href="{{ path('pot_edit', {'id': pot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pot_new') }}">Create new</a>
{% endblock %}
