{% extends 'base.html.twig' %}

{% block title %}Pot{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">

            <div class="row">
                <div class="col-6">
                    <h1>Show Pots</h1>
                </div>
                <div class="col-6">
                    <div class="float-right">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{{ path('pot_index') }}"><i class="fas fa-arrow-left"></i></a>
                            <a class="btn btn-primary" href="{{ path('pot_edit', {'id': pot.id}) }}"><i class="fas fa-pen"></i></a>
                            {{ include('pot/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body bg-gradient-primary rounded text-white">
            <table class="table table-light table-hover table-striped">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ pot.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ pot.Name }}</td>
                </tr>
                <tr>
                    <th>QR Code</th>
                    <td>
                        <img src="{{ pot.getQrCode() }}" style="max-width: 100%">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
